// Your custom variables
$gpm-base: #091F43;
$gpm-base-light: #616D81;
$gpm-prior: #D1515A;
$gpm-prior-light: #D49095;
$gpm-prior-light-ultra: #D8BABC;
$gpm-default: #AEAEAE;
$gpm-default-light: #D8D8D8;
$black: $gpm-base;
$white: #eee;

$black-base: $black;
$default-color: $white;
$primary-color: $gpm-base;
$secondary-color: $gpm-prior;
$white-base: $white;

$md-card-text-color: $white;

*.gpm-base {
  background-color: $gpm-base-light !important;
  color: $gpm-default-light !important;
}
*.gpm-base-light {
  background-color: $gpm-base-light !important;
  color: $gpm-base !important;
}
*.gpm-prior {
  background-color: $gpm-prior !important;
}
*.gpm-prior-light {
  background-color: $gpm-prior-light !important;
  color: $gpm-base !important;
  &:hover, &:focus {
    background-color: $gpm-prior !important;
    color: $white !important;
    & span {
      color: $white !important;
    }
  }
}
*.gpm-prior-light-ultra {
  background-color: $gpm-prior-light-ultra !important;
  color: $gpm-base !important;
  &:hover, &:focus {
    background-color: $gpm-prior-light !important;
  }
}
*.gpm-default {
  background-color: $gpm-default !important;
}
*.gpm-default-light {
  background-color: $gpm-default-light !important;
  &:focus {
    box-shadow: inset 0 5px 11px 0 rgba($gpm-prior, 0.28), inset 0 4px 15px 0 rgba($gpm-prior, 0.25);
  }
}

// prefix = icônes des inputs
// has-icon = custom icône
.prefix {
  position: relative !important;
  margin-right: 1rem;
}
form {
  height: fit-content;
  & .input-group {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
    &.my-0 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  & .active, .has-icon:focus-within {
    color: $gpm-prior !important; // Couleur des icônes au focus
  }
  & input {
    box-shadow: none !important;
    border-bottom: solid 1px $gpm-default !important;
    color: $gpm-base !important;
    font-weight: bold !important;
    z-index: 1;
    padding-bottom: 0 !important;
    &[value=""] {
      font-weight: normal; // Pas de value = pas mis en avant
      padding-bottom: 0.25rem !important;
    }
    &:focus, &:focus-within {
      border-bottom: solid 1px $gpm-prior !important;
      font-weight: bold;
    }
  }
  & label {
    color: inherit !important;
  }
}
select {
  background-color: inherit !important;
  color: inherit !important;
  & option[disabled] {
    display: none;
    margin-top: 1rem;
  }
}
.invalid-feedback {
  z-index: 1;
}