// Your custom variables
$gpm-base-dark: #091F43;
$gpm-base: #526788;
$gpm-default: #B4BDCA;
$gpm-lecture: #D8D8D8;
$gpm-alert-dark: #A5222B;
$gpm-alert: #D1515A;
$gpm-warning: #D4848A;
$gpm-attention: #D8BABC;
$gpm-grey-dark: #3a3a3a;
$gpm-grey: #808080;
$gpm-grey-light: #BBB;
$black: #141414;
$white: #EEE;

// Variables mdb
$black-base: $black;
$default-color: $white;
$primary-color: $gpm-base-dark;
$secondary-color: $gpm-alert;
$white-base: $white;

$md-card-text-color: $white;


@function set-color($color) {
  @if (lightness($color) > 50) {
    @return $black;
  }
  @else {
    @return $white;
  }
}

$custom: (
  'gpm-base-dark' $gpm-base-dark,
  'gpm-base' $gpm-base,
  'gpm-default' $gpm-default,
  'gpm-lecture' $gpm-lecture,
  'gpm-alert-dark' $gpm-alert-dark,
  'gpm-alert' $gpm-alert,
  'gpm-warning' $gpm-warning,
  'gpm-attention' $gpm-attention,
  'gpm-grey-dark' $gpm-grey-dark,
  'gpm-grey' $gpm-grey,
  'gpm-grey-light' $gpm-grey-light,
);

@each $name, $color in $custom {
  html .#{$name} {
    background-color: $color !important;
    color: set-color($color) !important;
  };
  html .#{$name}-active {
    &:hover, &:focus {
      background-color: $color !important;
      color: set-color($color) !important;
    }
  }
};

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    font-weight: bold;
  }
};