// Your custom styles
// style des ombres au survol/focus
.onFocus:hover, .onFocus:focus, .onFocus:focus-within, button.btn:hover, button.btn:focus, button.btn:focus-within {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
// darken+1 on hover/focus
.red.lighten-4:hover, .red.lighten-4:focus, .red.lighten-4:focus-within {
  background-color: #ef9a9a !important;
}

.md-form:focus-within {
  color: $primary-color;
}

// style du select quand choix des options
.custom-select {
  &:focus, &:focus-within {
    color: $primary-color;
    border-color: $primary-color;
    box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
    & option {
      color: black;
    }
  }
}

button:focus {
  font-weight: bold;
  text-decoration: underline;
}