// Your custom styles
html {
  min-width: 100%;
  background-image: url('~@/assets/city-background/'+ random(5) +'.webp');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after { // Filtre sur bgimg
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-color: #eee;
  }
}

body {
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  & div {
    margin: 0 !important;
    padding: 0 !important;
  }
}

button:focus {
  font-weight: bold;
  text-decoration: underline;
}

.btn-text-normal { // Pour que seule la première lettre soit en maj.
  display: inline-block;
  text-transform: lowercase !important;
  &:first-letter {
    text-transform: uppercase !important;
  }
}

.card-body {
  height: fit-content;
}

.custom-select { // style du select quand choix des options
  border-color: $gpm-default;
  &:focus, &:focus-within {
    color: $gpm-alert;
    border-color: $gpm-alert;
    box-shadow: 0 0 0 0.2rem rgba($gpm-warning, 0.5);
    & option {
      color: $black;
    }
  }
}

.gpm-big-shadow {
  box-shadow: 0 5px 11px 0 rgba($black, 0.68), 0 4px 15px 0 rgba($black, 0.45);
}

.gpm-shadow-focus:hover, .gpm-shadow-focus:focus, .gpm-shadow-focus:focus-within { // style des ombres au survol/focus
  box-shadow: 0 5px 11px 0 rgba($black, 0.28), 0 4px 15px 0 rgba($black, 0.25);
}

.gpm-mist { // "surlignage" estompé
  &::before {
    content: "";
    bottom: 35%;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 0;
    box-shadow: 0 0 15px 8px rgba($white, 0.88), 0 0 30px 10px rgba($white, 0.68) !important;
  }
  &:focus-within::before {
    content: "";
    bottom: 35%;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 0;
    box-shadow: 0 0 6px 4px rgba($gpm-warning, 0.38), 0 0 20px 6px rgba($gpm-alert, 0.18) !important;
  }
}

.invalid-feedback {
  z-index: 1;
}

// prefix = icônes des inputs
// has-icon = custom icône
.prefix {
  position: relative !important;
  margin-right: 1rem;
}
form {
  height: fit-content;
  & .input-group {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
    &.my-0 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  & .active, .has-icon:focus-within {
    color: $gpm-alert !important; // Couleur des icônes au focus
  }
  & input {
    box-shadow: none !important;
    border-bottom: solid 1px $gpm-default !important;
    color: $gpm-base-dark !important;
    font-weight: bold !important;
    z-index: 1;
    padding-bottom: 0 !important;
    &[value=""] {
      font-weight: normal; // Pas de value = pas mis en avant
      padding-bottom: 0.25rem !important;
    }
    &:focus, &:focus-within {
      border-bottom: solid 1px $gpm-alert !important;
      font-weight: bold;
    }
  }
  & label {
    color: inherit !important;
  }
}

select {
  background-color: inherit !important;
  color: inherit !important;
  & option[disabled] {
    display: none;
    margin-top: 1rem;
  }
}

.title {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
}

.transparent {
  background-color: transparent !important;
}

.zind1 {
  z-index: 1;
}